<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Borrow/Return System</title>
    
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/css/account.css">

    <!-- Google Fonts (Optional) -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    <%- include('particals/header') %>

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1>Welcome back <%= user.user_name %>!</h1>
            <p>Bạn đang đăng nhập với tư cách là <%= user.permission %></p>
        </div>
    </section>

    <!-- Nội dung chính -->
    <% if (books.length === 0) { %>
        <p class="list_title">You have no borrowed books at the moment.</p>
    <% } else { %>
        <%- include('particals/account_list') %>
    <% } %>


    <!-- Footer Section -->
    <%- include('particals/footer') %>

</body>
<script>
    // Hàm sẽ chạy khi người dùng nhấn nút
    function confirmBorrow() {
        alert("Congratulation, you have been return book sucess!!!");
        // Bạn có thể thêm các thao tác khác tại đây
    }
</script>
</html>
