<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Borrow/Return System</title>
    
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/search_bar.css">
    <link rel="stylesheet" href="/css/book_list.css">

    <!-- Google Fonts (Optional) -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    <%- include('particals/header') %>

    <!-- Hero Section -->
    <%- include('particals/search_bar') %>

    <%- include('particals/topic_list') %>

    <!-- Book List Section -->
    <%- include('particals/book_list') %>

    <!-- Footer Section -->
    <%- include('particals/footer') %>
</body>

</html>
