<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Borrow/Return System</title>
    
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <!-- Google Fonts (Optional) -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    <%- include('particals/header') %>

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1>Welcome to the Library</h1>
            <p>Borrow and return books easily with our system</p>
            <form class="search-form" action="/home/search" method="POST">
                <input type="text" name="query" placeholder="Search for books by title, author...">
                <button type="submit">Search</button>
            </form>
        </div>
    </section>

    <!-- <div class="sidebar"> -->
        <!-- Sidebar -->
        <%- include('particals/topic_list') %>
    <!-- </div> -->

    <!-- Book List Section -->
    <section class="book-list">
        <div class="container">
            <h2>Popular Books</h2>
            <div class="book-grid">
                <% books.forEach(book => { %>
                    <div class="book-card">
                        <img src="<%= book.image %>" alt="<%= book.title %>" class="book-cover">
                        <h3><%= book.book %></h3>
                        <p>by <%= book.author %></p>
                        
                        <!-- Form POST để mượn sách -->
                        <form action="/home" method="POST">
                        <input type="hidden" name="book_id" value="<%= book.item_id %>">
                        <input type="hidden" name="book_name" value="<%= book.book %>">
                        <button type="submit" class="btn" onclick="confirmBorrow()" >Mượn</button>
                    </form>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <%- include('particals/footer') %>
</body>
<script>
    // Hàm sẽ chạy khi người dùng nhấn nút
    function confirmBorrow() {
        const userName = "<%= user_name ? user_name : '' %>";
        
        if (userName) {
            alert(`Congratulation !!! ${userName} has been borrow this book sucess.`);
            // Thực hiện hành động khi user_name tồn tại
        } else {
            alert("Please login your account before borrow book !!!");
            // Xử lý khi user_name không tồn tại
        }

    }
</script>
</html>
